{% load static %}
<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>

    <body class="{% block body_class %}template-{{ page.get_verbose_name|slugify }}{% endblock %}">
        {% include "patterns/sprites/sprites.html" %}

        <main data-main-elt class="wrapper--site">
            {% block wrapped_content %}
                <div class="wrapper wrapper--large wrapper--main">
                    {% block content %}
                        {{ pattern_library_rendered_pattern }}
                    {% endblock %}
                </div>
            {% endblock %}
        </main>

        {% block footer %}{% endblock %}

    <script type="module">
        import { initAccordions } from "{% static 'accordion.js' %}";

        initAccordions();
    </script>
    </body>
</html>

