.form-item {
    $root: &;
    margin-bottom: 30px;

    @include media-query(tablet-portrait) {
        margin-bottom: 50px;
    }

    &--flush {
        margin-bottom: 15px;

        @include media-query(tablet-portrait) {
            margin-bottom: 15px;
        }
    }

    &--login {
        margin-bottom: 15px;

        @include media-query(tablet-portrait) {
            margin-bottom: 25px;
        }
    }

    &--push {
        margin-top: 30px;
    }

    &--checkbox {
        margin-bottom: 20px;
    }

    &--hidden-input {
        display: none;
    }

    &--re-captcha {
        .required {
            display: none;
        }
    }

    &__required {
        margin: 0 0 0 3px;
        color: $color--red;
    }

    &__label,
    label {
        @include font-size(m);
        display: block;
        margin-bottom: 10px;
        color: $color--dark-grey;
    }

    &__label--checkbox,
    &__label--radio,
    &--checkbox label,
    &--radio label {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: flex-start;
        cursor: pointer;

        input {
            order: 1;
        }

        #{$root}__label-text {
            order: 2;
            margin-bottom: 0;
            font-weight: normal;
        }

        #{$root}__errors {
            flex-basis: 100%;
            order: 3;
        }

        #{$root}__help {
            flex-basis: 100%;
            order: 4;
        }
    }

    &__errors {
        @include font-size(s);
        display: block;
        margin: 10px 0 0;
        color: $color--red;
    }

    &__help {
        @include font-size(s);
        display: block;
        margin-top: 10px;
    }

    &__plain-text {
        color: $color--mid-grey;
        font-weight: $weight--medium;
    }

    input[type='text'],
    input[type='tel'],
    input[type='number'],
    input[type='email'],
    input[type='search'],
    input[type='password'],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid $color--mid-blue;
        transition: border-color $transition, background-color $transition;

        &:hover,
        &:focus {
            outline: 0;
            border: 1px solid $color--blue;
        }

        &:focus {
            background-color: $color--input-focus-bg;
        }
    }

    [type='checkbox'] {
        margin-right: 10px;
    }

    textarea {
        resize: vertical;
        min-height: 180px;
    }

    &--errors {
        textarea,
        input[type='text'],
        input[type='tel'],
        input[type='number'],
        input[type='email'],
        input[type='search'],
        input[type='password'] {
            border: 1px solid $color--red;
        }
    }

    &__label-text {
        line-height: 22px;
        margin: auto 0;
    }
}
