.wrapper {
    &--small {
        max-width: $wrapper--small;
        margin: 0 auto;
    }

    &--large {
        max-width: $site-width;
        margin: 0 auto;
    }

    &--site {
        background-color: $color--white;

        @include media-query(tablet-portrait) {
            background-color: initial;
            padding: 0 20px;
        }
    }

    &--main {
        padding: 20px;
        margin: 0 auto;
        background-color: $color--white;

        @include media-query(tablet-portrait) {
            padding: 65px 65px 80px;
            margin: 45px auto;
        }
    }

    &--user-detail {
        background-color: $color--white;

        @include media-query(tablet-portrait) {
            display: grid;
            grid-gap: 50px;
            grid-template-columns: 2fr 1.4fr;
            align-items: start;
            padding: 65px 0 80px;
            margin: 0 auto;
            max-width: $site-width;
            background-color: transparent;

            > * {
                @include wrapper-border();
                background-color: $color--white;
            }
        }
    }
}
