.quote-block {
    $dash-base: 25px;
    color: $color--pink;
    position: relative;
    margin: 0;
    padding-top: 40px;
    padding-left: $dash-base + 5px;

    &__text {
        box-shadow: inset 0.25rem 0 0 currentColor;
        padding-left: 1.5rem;
        padding-top: 4.5rem;
        position: relative;

        &::before {
            content: '\201C';
            font: 600 10.544rem/11rem sans-serif;
            left: 1rem;
            line-height: 0;
            margin-top: 5rem;
            position: absolute;
            top: -0.5rem;
        }
    }

    &__quote {
        color: $color--off-black;
        font: 600 1.602rem/2rem proxima-nova, sans-serif;

        &::after {
            content: '\201D';
        }
    }
    &__attribution {
        color: $color--blue;
        letter-spacing: 0;
        font: 300 1.266rem/1.75rem system-ui, -apple-system, Segoe UI, Roboto,
            Ubuntu, Cantarell, Noto Sans, sans-serif;
    }
}
