{% load static wagtailcore_tags wagtailimages_tags %}
{% comment "text/markdown" %}

    Meant for the "hero" area of the homepage only, with an image to the left and the page’s `<h1>` title to the right, along with a description.

    It’s based on `split_banner`, with slight variations for the homepage.

    It supports:

    - `hero_image`: Displayed without alt text
    - `hero_title`: Defaulting to `title` if unset
    - `description` — Optional
    - And a CTA with:
    - `link_text`
    - `link_url` (string)

    Example usage:

    ```html
    <div class="section--grey-bg">
        {% include "patterns/components/banner/home_banner.html" with title=page.title hero_title=page.hero_title description=page.strapline hero_image=page.hero_image link_text=page.hero_link_label link_url=page.hero_link.url %}
        {# […] #}
    </div>
    ```
{% endcomment %}
<div class="split-banner split-banner--home">

    <div class="split-banner__wrapper-grid split-banner__wrapper-grid--image">
        {% image hero_image fill-822x650 as img %}
        <div class="split-banner__image-wrapper">
            <img class="split-banner__image" src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="">
        </div>
        <div class="split-banner__image-spacer"></div>
    </div>

    <div class="wrapper--site wrapper--pad wrapper--relative split-banner__wrapper-inner">
        <div class="split-banner__wrapper-grid">
            <div class="split-banner__content">
                <h1 class="split-banner__title heading--2">
                    {% firstof hero_title title %}
                </h1>
                {% if description %}
                <span class="split-banner__description heading--5">
                    {{ description }}
                </span>
                {% endif %}
                {% if link_url %}
                    {% include "patterns/components/button/button.html" with theme="primary" label=link_text target_url=link_url classname="split-banner__button" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


