/* ------------------------------------ *\
	$BASE DEFAULTS
\* ------------------------------------ */

// Box Sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Prevent text size change on orientation change.
html {
  font-family: $font--primary;
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin sticky-footer() {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1;
  }
}

body {
  &.no-scroll {
    overflow-y: hidden;
  }
}

// Prevent empty space below images appearing
img,
svg {
  vertical-align: top;
}

// Responsive images
img {
  height: auto;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

select {
  appearance: none;
}

a {
  color: $color--blue;
  transition: color $transition;

  &:hover {
    color: darken($color--blue, 20%);
    cursor: pointer;
  }
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.restricted-width {
  max-width: 710px;
}
