.footer {
    padding: 20px;
    background-color: $color--blue;
    color: $color--white;

    &__nav-container {
        width: 100%;

        @include media-query(tablet-portrait) {
            display: flex;
            align-items: center;
        }

        > p {
            @include font-size(xxs);
            display: block;
            line-height: 18px;
            margin: 30px 0 0;

            @include media-query(tablet-portrait) {
                margin-top: 0;
                max-width: 700px;
            }
        }
    }

    &__image {
        max-width: 150px;
        display: inline-block;
        margin-right: 80px;
    }

    &__social-links {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        @include media-query(tablet-portrait) {
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 20px;
        }
    }

    &__heading {
        display: none;

        @include media-query(tablet-portrait) {
            display: block;
            margin: 0 20px 0 0;
        }
    }

    &__credit {
        margin-top: 10px;

        @include media-query(tablet-portrait) {
            margin-top: 0;
        }

        a {
            color: $color--secondary;
        }
    }
}
