.customers-header {
    position: relative;
    background-color: $color--pale-blue;
    border-radius: 5px;
    padding: 40px 20px;
    margin-bottom: 20px;

    @include media-query(tablet-portrait) {
        border-radius: 5px 5px 0 0;
        padding: 25px 65px;
        margin-bottom: 0;
        border-bottom: 1px solid $color--pale-blue;
    }

    &__heading {
        color: $color--blue;
        font-weight: $weight--semibold;
        margin: 0 0 35px;

        @include media-query(tablet-portrait) {
            margin: 25px 0 40px;
        }
    }

    &__search-wrapper {
        @include font-size(s);
        position: relative;
        display: inline-block;
        width: 100%;

        @include media-query(tablet-portrait) {
            width: auto;
        }

        input[type='search'] {
            @include placeholder-text() {
                color: $color--dark-grey;
                opacity: 1;
            }
            border-radius: 3px;
            border: 1px solid $color--mid-blue;
            padding: 7px 35px 7px 15px;
            color: $color--dark-grey;
            width: 100%;
            transition: border-color $transition, background-color $transition;

            @include media-query(tablet-portrait) {
                min-width: 300px;
            }

            &:hover,
            &:focus {
                border: 1px solid $color--blue;
            }

            &:focus {
                background-color: $color--input-focus-bg;
            }
        }

        button[type='submit'] {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
            border: 0;
            color: $color--pink;
            background-color: transparent;
            font-size: 0;
            width: 45px;
            cursor: pointer;
            border-radius: 0 3px 3px 0;
            transition: background-color $transition;

            span {
                @include hidden();
            }

            .icon {
                position: absolute;
                top: 0;
                right: 14px;
                bottom: 0;
                margin: auto 0;
                transition: color $transition;
            }

            &:focus,
            &:hover {
                background-color: $color--pink;
                color: $color--white;
            }
        }
    }
}
