/* ------------------------------------ *\
    $MIXINS
\* ------------------------------------ */

/* ============================================
    Media queries
*/
@mixin media-query($queries...) {
    @each $query in $queries {
        @each $breakpoint in $breakpoints {
            $name: nth($breakpoint, 1);
            $declaration: nth($breakpoint, 2);

            @if $query == $name and $declaration {
                @media only screen and #{$declaration} {
                    @content;
                }
            }
        }
    }
}

/* ============================================
  Placeholder text
*/
@mixin placeholder-text() {
    &.placeholder {
        @content;
    }

    &::placeholder {
        @content;
    }
}

/* ============================================
  Hide text
*/
@mixin hidden() {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* ============================================
    Output a rem and px fallback value for the given property
*/
@mixin rem($property, $values) {
    $px: ();
    $rem: ();

    @each $value in $values {
        @if $value == 0 or $value == auto or $value == inherit {
            $px: append($px, $value);
            $rem: append($rem, $value);
        } @else {
            $px: append($px, $value);
            $rem: append($rem, rem(strip-unit($value)));
        }
    }
    #{$property}: $px;
    #{$property}: $rem;
}

/* ============================================
    Font sizes
*/
@mixin font-size($keyword) {
    $size: map-get($font-sizes, $keyword);

    @if $size == null {
        @warn 'Font size ‘#{$keyword}’ does not exist';
    } @else {
        @include rem(font-size, $size);
    }
}

/* ============================================
    Default UI border radius and shadow
*/
@mixin wrapper-border() {
    border-radius: 4px;
    box-shadow: $default-shadow;
}

// Bullet lists with custom bullet styles.
@mixin bullet-list {
    list-style: none;

    li {
        line-height: 1.375;
        margin: 0 0 20px 20px;
        position: relative;
        color: $color--dark-grey;

        &::before {
            $size: 20px;
            content: '\2022';
            color: $color--pink;
            width: $size;
            margin-left: -1 * $size;
            font-size: $size;
            vertical-align: middle;
            position: absolute;
            top: -2px;
        }
    }
}

// Animate link chevron left/right
@mixin link-arrow-hover($direction) {
    &:hover {
        .icon {
            @if $direction == right {
                transform: translateX(3px);
            } @else {
                transform: rotate(180deg) translateX(3px);
            }
        }
    }

    .icon {
        transition: transform $transition;
    }
}
