// --------------------------------- Colors -------------------------------------
$color--primary: #6a737c;
$color--secondary: #eaeaea;
$color--tertiary: #f9f9f9;

$color--white: #fff;
$color--white-95: rgba(255, 255, 255, 0.95);
$color--black: #000;
$color--black-90: rgba(0, 0, 0, 0.9);
$color--black-50: rgba(0, 0, 0, 0.5);
$color--off-black: #141414;
$color--grey: #6a737c;
$color--mid-grey: #767676;
$color--light-grey: #dadada;

$color--dark-grey: #4a4a4a;
$color--blue: #596cd7;
$color--sky-blue: #157ab6;
$color--light-blue: #e6f6fc;
$color--pale-blue: #f2fbfd;
$color--border-blue: #d0e1ec;
$color--mid-blue: #157ab6;
$color--pink: #a353b3;
$color--purple: #8261c0;
$color--red: #f00;
$color--input-focus-bg: #e7f1f9;
$color--table-border: #c3d9e6;

// --------------------------------- Fonts --------------------------------------

$font--primary: Sans-Serif;
$font--secondary: Sans-Serif;

// Font weights
$weight--bold: 700;
$weight--semibold: 600;
$weight--medium: 400;
$weight--normal: 300;
$weight--light: 200;

// Font sizes
$base-font-size: 16px;
$base-line-height: 25px;
$font-sizes: (
    default: $base-font-size,
    xxl: 42px,
    xl: 28px,
    l: 21px,
    m: 18px,
    s: 16px,
    xs: 14px,
    xxs: 12px,
);

// --------------------------------- Breakpoints --------------------------------------
// Ensure that all breakpoints are duplicated in the gutters array

$breakpoints: (
    'tablet-portrait' '(min-width: 900px)',
    'tablet-landscape' '(min-width: 1024px)',
    'desktop' '(min-width: 1280px)'
);

// --------------------------------- Grid Dimensions --------------------------------------

// Wrappers
$site-width: 1200px;
$wrapper--small: 790px;

// --------------------------------- Transitions --------------------------------------

$transition: 0.25s ease-out;

// --------------------------------- Shadows --------------------------------------

$default-shadow: 0 0 4px 0 rgba(50, 50, 48, 0.2);
