// --------------------------------- Colors -------------------------------------
$color--white: #fff;
$color--black: #000;
$color--off-black: #14143e;
$color--grey: #6a737c;
$color--dark-grey: #4a4a4a;
$color--light-grey: #dadada;
$color--off-white: #f3f3f5;
$color--dark-blue: #251855;
$color--light-blue: #009de0;
$color--pink: #ff4e68;
$color--purple: #ff4e68;
$color--green: #3caa67;
$color--red: #ff4e68;
$color--blue: #251855;
$color--pale-blue: #f2fbfd;
$color--mid-blue: #157ab6;
$color--input-focus-bg: #e7f1f9;
$color--table-border: #c3d9e6;
$color--border: $color--light-grey;

// --------------------------------- Fonts --------------------------------------

$font--primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$font--secondary: $font--primary;

// Font weights
$weight--bold: 700;
$weight--semibold: 600;
$weight--medium: 400;
$weight--normal: 300;
$weight--light: 200;

// Font sizes
$base-font-size: 16px;
$base-line-height: 25px;
$font-sizes: (
  default: $base-font-size,
  xxl: 42px,
  xl: 28px,
  l: 21px,
  m: 18px,
  s: 16px,
  xs: 14px,
  xxs: 12px,
);

// --------------------------------- Breakpoints --------------------------------------
// Ensure that all breakpoints are duplicated in the gutters array

$breakpoints: (
  'mob-portrait' '(min-width: 320px)',
  'mob-landscape' '(min-width: 480px)',
  'tablet-portrait' '(min-width: 768px)',
  'tablet-landscape' '(min-width: 1024px)',
  'desktop' '(min-width: 1280px)',
  'desktop-wide' '(min-width: 2556px)'
);

// --------------------------------- Grid Dimensions --------------------------------------

// Wrappers
$site-width: 1440px;
$site-horizontal-padding: 70px;
$wrapper--large: $site-width - $site-horizontal-padding * 2;
$wrapper--medium: 1160px;
$wrapper--small: 790px;
$centered-content-width: 800px;

// Grid setup
$grid: 20px;

// These should match the breakpoints array
$gutters: (
  'default': $grid,
  'mob-portrait': $grid,
  'mob-landscape': $grid,
  'tablet-portrait': $grid,
  'tablet-landscape': $grid * 1.25,
  'desktop': $grid * 1.25,
  'desktop-wide': $grid * 1.5,
) !default;

// --------------------------------- Transitions --------------------------------------

$transition: 0.25s ease-out;
